# Virtual Environment
venv/
.venv/
env/
env3/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db